:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-red: 250;
    --primary-green: 85;
    --primary-blue: 48;
    --primary-color: rgb(250, 85, 28);
    --border-color: #dbdbdb;
    --growth-from: 70%;
    --growth-to: 100%;
    --height-navbar: 38px;
    --height-header-with-search: 120px;
    --height-header: var(--height-navbar) + var(var(--height-header-with-search));
}

* {
    box-sizing: inherit;
}

html {
    /* Almost 16px */
    /* HACK => 1rem = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}
@keyframes growDiv {
    from {
        opacity: 0;
        transform: scale(0);
    } 
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes growth {
    from  {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
    
}
/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    /* animation: fadeIn linear 0.2s; */
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    z-index: 9999;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    animation: growth linear 0.15s;
}

.model__inner {
    
}
/* Button */
.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 2px;
    padding: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    opacity: 0.8;
}
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable {
    cursor: default;
    background-color: #999;
    color: #ccc;
}
.btn.btn-with-icon {

}
.btn.btn--size-s{
    height: 30px;
    font-size: 1.2rem;
}